:root {
  --color-neutral: 255, 255, 255;
  /* Slate */
  --color-neutral-50: 248, 250, 252;
  --color-neutral-100: 241, 245, 249;
  --color-neutral-200: 226, 232, 240;
  --color-neutral-300: 203, 213, 225;
  --color-neutral-400: 148, 163, 184;
  --color-neutral-500: 100, 116, 139;
  --color-neutral-600: 71, 85, 105;
  --color-neutral-700: 51, 65, 85;
  --color-neutral-800: 30, 41, 59;
  --color-neutral-900: 15, 23, 42;
  --color-neutral-950: 2, 6, 23;
  /* Blue */
  --color-primary-50: 239, 246, 255;
  --color-primary-100: 219, 234, 254;
  --color-primary-200: 191, 219, 254;
  --color-primary-300: 147, 197, 253;
  --color-primary-400: 96, 165, 250;
  --color-primary-500: 59, 130, 246;
  --color-primary-600: 37, 99, 235;
  --color-primary-700: 29, 78, 216;
  --color-primary-800: 30, 64, 175;
  --color-primary-900: 30, 58, 138;
  --color-primary-950: 23, 37, 8;
  /* Cyan */
  --color-secondary-50: 236, 254, 255;
  --color-secondary-100: 207, 250, 254;
  --color-secondary-200: 165, 243, 252;
  --color-secondary-300: 103, 232, 249;
  --color-secondary-400: 34, 211, 238;
  --color-secondary-500: 6, 182, 212;
  --color-secondary-600: 8, 145, 178;
  --color-secondary-700: 14, 116, 144;
  --color-secondary-800: 21, 94, 117;
  --color-secondary-900: 22, 78, 99;
  --color-secondary-950: 8, 51, 69;
}

html {
  font-size: 1rem;
}

article > .prose {
  position: relative;
  font-size: 1.1rem;
  z-index: 1;
  margin-top: -3rem;
}

article > header > h1 {
  margin-bottom: 0.5rem !important;
  z-index: 2;
}

article > header > .prose > picture {
  display: none;
}

@media screen and (min-width: 768px) {
  article > header {
    position: relative;
  }

  article > header > .prose > picture {
    display: inline-block;
    margin-left: -15%;
    margin-top: -20rem;
    transform: rotate(-7deg);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
    z-index: -1;
    mix-blend-mode: luminosity;
    opacity: 0.1;
    height: 17.5rem;
    pointer-events: none;
    user-select: none;
  }
}